body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h2 , h4{
    color: #389393;
}
div.container{
    margin-top: 2%;
}
p.precio{
    font-size: 200%;
}
#precioIzquierda{
    padding-left: 88%;
    font-size: 125%;
}
#imgChek{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #389393;*/
}
input#checkarticulo{
    border: 1px solid #F5A25D;
}
input#checkarticulo::before{
    background-color: white;
}
input#checkarticulo:focus{
    box-shadow: 0px 1px 1px #F5A25D inset,0px 0px 10px #F5A25D ;
}
input#checkarticulo:checked{
    background-color: #389393;
}
#texto{
    /*background-color: #FA7F72;*/
}
/*imagenes*/
img.imagen{
    width: 70%;
}
/*aside*/
#aside{
    border: 1px solid #F5A25D;
}
#botonpagar{
    color: white;
    background-color: #389393;
}
#botonpagar:hover{
    color: #F5A25D;
}
/*relacionados*/
div#relacionados{
    background-color: #ebebeb;
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
}
div#relacionados h2{
    padding-top: 2%;
}
div#relacionados div#producRel{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
div.card{
    border:1px solid #FA7F72;
}
div.card:hover{
    box-shadow: #389393 0px 5px 15px;
}
/*estrellas*/

  form.destacados_estrellas{
    margin-right: 30%;
    
}

div.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="radio"] {
    display: none;
  }
  
  label{
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

