body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}


div.container{
    margin-top: 5%;
}
h2 , h4{
    color: #389393;
}

div.row{
    display: flex;
}
div#imagen{
    display: flex;
    justify-content: center;
}
div#imagen img#proPrincipal{
    border-radius: 5px;

}
div#info{
    display: flex;
    flex-direction: column;
    
}
div.btn-group {
    display: flex;
    justify-content: left;
    width: 15%;
}

div.btn-group button.azul:hover{
    border: 1px solid #389393;
    color: #389393;
}
div.btn-group button.verde:hover{
    border: 1px solid seagreen;
    color: seagreen;
}
div.btn-group button.negro:hover{
    border: 1px solid black;
    color: black;
}
div.btn-group button.rojo:hover{
    border: 1px solid #FA7F72;
    color: #FA7F72;
}
div.btn-group button.naranja:hover{
    border: 1px solid #F5A25D;
    color: #F5A25D;
}
div.aside{
    display: flex;
    flex-direction: column;
    border: 1px solid #FA7F72;
    padding-top: 10px;

    border-radius: 5px;
}

p.precio{
    font-size: 200%;
}

h5.enStock{
    color: seagreen;
}

div#relacionados{
    background-color: #ebebeb;
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
}
div#relacionados h2{
    padding-top: 2%;
}
div#relacionados div#producRel{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
div.card{
    border:1px solid #FA7F72;
}
div.card:hover{
    box-shadow: #389393 0px 5px 15px;
}
footer{
    margin-top: -6%;
}
/*estrellas*/
form.destacados_estrellas{
    margin-right: 50%;
}
input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

