*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.main-section{
    background: rgba(118, 165, 165, 0.75);
    border-radius: 30px;
    box-shadow: 12px 12px 12px #205454;
    margin: 0 auto;
    margin-top: 10%;
    padding: 15px;
    
}

a{
    /* color: #4751b0; */
    color: #fc7708 ;
    text-decoration: none;
}

a:hover{
    color: #fc7708;
    text-decoration:underline;
}
#bloqueImg{
    margin-top: -30%;   
}


.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #F5A25D;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: #F5A25D;
}
#imgUser{
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 2px #205454; 
    border-radius: 50%;
}
.form-control:focus {
    border-color: #F5A25D;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 12px #F5A25D;

}

.registration-form{

    display: none;
}

.secundario{
    color: #6e6e6e
    ;

    font-size: x-small;
}
.userIcon{
    width: 30px;
    filter: invert(90%) sepia(21%) saturate(4230%) hue-rotate(316deg) brightness(100%) contrast(92%);
}

.passIcon{
    width: 25px;
    filter: invert(90%) sepia(21%) saturate(4230%) hue-rotate(316deg) brightness(100%) contrast(92%);
    margin-left: 3px;
}
.emailIcon{
    width: 30px;
    filter: invert(90%) sepia(21%) saturate(4230%) hue-rotate(316deg) brightness(100%) contrast(92%);
    margin-left: 1.2px;
}
.iconValido{
    width: 30px;
    filter: invert(100%) sepia(68%) saturate(3677%) hue-rotate(45deg) brightness(104%) contrast(110%);
    margin-left: 10px;
}
.iconInValido{
    width: 20px;
    filter: invert(17%) sepia(99%) saturate(4361%) hue-rotate(7deg) brightness(102%) contrast(110%);
    margin-left: 15px;
    margin-top: 2px;
}
.tempIcon{
    position: absolute;
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-top: 6px;
}

.tempText{
    position: absolute;
    align-items: center;
    display: flex;
    margin-left: 48px;
    margin-top: 8px;
}

.textoTemporal{

    color:#F5A25D;
    opacity: .8;
}

.dummytext{
    pointer-events: none;
}

.campoValido{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
}
.campoInValido{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
}
.boxForm{
    position: relative;
}
