*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='900' preserveAspectRatio='none' viewBox='0 0 2000 900'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1145%26quot%3b)' fill='none'%3e%3crect width='2000' height='900' x='0' y='0' fill='url(%23SvgjsRadialGradient1146)'%3e%3c/rect%3e%3ccircle r='150' cx='73.97' cy='-21.34' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150' cx='606.05' cy='530.85' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150' cx='1162.51' cy='1246.81' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='117.315' cx='1708.6' cy='830.67' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='227.69' cx='1826.18' cy='258.25' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='88.28' cx='66.91' cy='649.85' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='157.88' cx='1879.88' cy='396.73' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='113.24' cx='1690.43' cy='71.29' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='193.665' cx='1229.63' cy='506.08' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='275.67' cx='995.96' cy='309.6' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1145'%3e%3crect width='2000' height='900' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3cradialGradient cx='50%25' cy='0%25' r='1345.36' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1146'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 235%2c 235%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  color: aliceblue;
}

.row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Establece el margen superior del contenedor con todos los cursos */
.courses__container {
  margin-top: 3em;
}

/* CONTENEDORES */
/* Estilos contendores desactivados */
.courses__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  max-width: 100%;
  padding: 0.8em;
  /* Estilos de los contenedores activos */
}
.courses__box:hover .courses__title, .courses__box:active .courses__title {
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
  color: #FA7F72;
}
.courses__box:hover .courses__img, .courses__box:active .courses__img {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-filter: blur(3px) contrast(20%);
          filter: blur(3px) contrast(20%);
}
.courses__box:hover article, .courses__box:active article {
  margin-top: 1.5em;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  -webkit-transition-property: opacity, z-index;
  transition-property: opacity, z-index;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 1;
}
.courses__img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -10;
  border-radius: 12px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}
.courses__title {
  font-size: 3rem;
  color: inherit;
}
.courses__text {
  font-size: 0.8rem;
}
.courses__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.courses__btn {
  padding: 0.5em 2em;
  background-color: #F5A25D;
  border: none;
  border-radius: 12px;
  font-size: 0.7rem;
  color: aliceblue;
  font-weight: 500;
}
.courses__btn:hover, .courses__btn:active {
  background-color: #FA7F72;
}

/* Estilos del article, por defecto ocultos */
.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 200px;
  z-index: -10;
  opacity: 0;
}
.article__title {
  font-size: 1rem;
  color: #F5A25D;
}
.article__subtitle {
  font-size: 0.9rem;
  color: #f2be93;
}

.modal-dialog {
  min-width: 40%;
}

.modal__window {
  background-color: #EBEBEB;
  color: #333;
  background-image: radial-gradient(circle at 50% 106.26%, #eff4f1 0, #eef4f2 4.17%, #eef4f3 8.33%, #eef4f3 12.5%, #eef4f4 16.67%, #edf4f4 20.83%, #eef4f5 25%, #eef4f6 29.17%, #eef4f6 33.33%, #eef4f6 37.5%, #eff3f7 41.67%, #eff3f7 45.83%, #f0f3f7 50%, #f1f3f7 54.17%, #f1f3f7 58.33%, #f2f2f7 62.5%, #f3f2f7 66.67%, #f4f2f6 70.83%, #f4f2f6 75%, #f5f2f6 79.17%, #f6f2f5 83.33%, #f6f1f4 87.5%, #f7f1f4 91.67%, #f7f1f3 95.83%, #f7f1f3 100%);
  border: none;
  -webkit-box-shadow: 4px 3px 10px rgba(200, 200, 200, 0.5);
          box-shadow: 4px 3px 10px rgba(200, 200, 200, 0.5);
}

.text--bold {
  font-weight: 600;
}

.modal-title {
  color: #F5A25D;
  font-weight: 700;
}

.modal-header {
  border-bottom: 0;
  padding: 1.5em 2.5em 1em 3.1em;
}

.modal-body {
  padding-right: 2em;
}

.modal-footer {
  border-top: 0;
}

.modal__item::before {
  content: url(../../assets/icons/caret-right-fill.svg);
  margin-right: 0.5em;
}

.modal__item {
  list-style: none;
  padding-bottom: 10px;
}

/* Media Queries */
@media (max-width: 992px) {
  .courses__box,
.courses__img {
    height: 430px;
  }
  .modal-dialog {
    margin: 0 2em;
    max-width: 100%;
  }
}
@media (min-width: 993px) {
  .courses__box,
.courses__img {
    height: 350px;
  }
}