@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #EBEBEB;
  color: aliceblue;
}

.row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Establece el margen superior del contenedor con todos los cursos */
.courses__container {
  margin-top: 3em;
}

/* CONTENEDORES */
/* Estilos contendores desactivados */
.courses__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  max-width: 90%;
  padding: 0.8em;
}
@media (max-width: 992px) {
  .courses__box {
    height: 400px;
  }
}
@media (min-width: 993px) {
  .courses__box {
    height: 350px;
  }
}
.courses__img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -10;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #9d9d9d, -5px -5px 10px #fbfbfb;
          box-shadow: 5px 5px 10px #9d9d9d, -5px -5px 10px #fbfbfb;
  opacity: 0.9;
}
@media (max-width: 992px) {
  .courses__img {
    height: 400px;
  }
}
@media (min-width: 993px) {
  .courses__img {
    height: 350px;
  }
}
.courses__box:hover .courses__img, .courses__box:active .courses__img {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-filter: blur(3px) contrast(20%);
          filter: blur(3px) contrast(20%);
}
.courses__title {
  font-size: 3rem;
  color: inherit;
  text-shadow: 3px 2px 2px #333;
  /* Estilos de los títulos activos */
}
.courses__box:hover .courses__title, .courses__box:active .courses__title {
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  color: #FA7F72;
}
.courses__text {
  font-size: 0.8rem;
}
.courses__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.courses__btn {
  display: inline-block;
  min-width: 11rem;
  padding: 0.5em 2em;
  background-color: #F5A25D;
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 2px #ccc inset, -1px -1px 2px #f2be93 inset;
          box-shadow: 1px 1px 2px #ccc inset, -1px -1px 2px #f2be93 inset;
  font-size: 0.8rem;
  color: aliceblue;
  font-weight: 500;
}
.courses__btn:hover, .courses__btn:active {
  background-color: #FA7F72;
}

/* Estilos del article, por defecto ocultos */
.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 200px;
  z-index: -10;
  opacity: 0;
}
.article__title {
  font-size: 1rem;
  color: #F5A25D;
}
.article__subtitle {
  font-size: 0.9rem;
  color: #f2be93;
}
.courses__box:hover .article, .courses__box:active .article {
  margin-top: 1.5em;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  -webkit-transition-property: opacity, z-index;
  transition-property: opacity, z-index;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 1;
}

.modal-dialog {
  max-width: 60%;
}
.modal__window {
  color: #333;
  background: #f7f1f3;
  -webkit-box-shadow: inset 5px 5px 10px #bebabb, inset -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #bebabb, inset -5px -5px 10px #ffffff;
  border: none;
}
.modal-title {
  color: #F5A25D;
  font-weight: 700;
}
.modal-header {
  border-bottom: 0;
  padding: 1.5em 2.5em 0 3.1em;
}
.modal-body {
  padding-right: 2em;
}
.modal-footer {
  border-top: 0;
}
.modal__item::before {
  content: url(../../assets/icons/caret-right-fill.svg);
}
.modal__item {
  list-style: none;
  padding-bottom: 10px;
}

.text--bold {
  font-weight: 600;
}

/* Media Queries */