*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2be93;
  color: aliceblue;
}

.row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Establece el margen superior del contenedor con todos los cursos */
.courses__container {
  margin-top: 3em;
}

/* CONTENEDORES */
/* Estilos contendores desactivados */
.courses__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  max-width: 90%;
  padding: 0.8em;
  /* Estilos de los contenedores activos */
}
.courses__box:hover .courses__title, .courses__box:active .courses__title {
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  color: #FA7F72;
}
.courses__box:hover .courses__img, .courses__box:active .courses__img {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-filter: blur(3px) contrast(20%);
          filter: blur(3px) contrast(20%);
}
.courses__box:hover article, .courses__box:active article {
  margin-top: 1.5em;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-shadow: 1px 1px 1px black;
  -webkit-transition-property: opacity, z-index;
  transition-property: opacity, z-index;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 1;
}
.courses__img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -10;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}
.courses__title {
  font-size: 3rem;
  color: inherit;
  text-shadow: 3px 2px 2px #333;
}
.courses__text {
  font-size: 0.8rem;
}
.courses__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.courses__btn {
  padding: 0.5em 2em;
  background-color: #F5A25D;
  border: none;
  border-radius: 15px;
  font-size: 0.7rem;
  color: aliceblue;
  font-weight: 500;
}
.courses__btn:hover, .courses__btn:active {
  background-color: #FA7F72;
}

/* Estilos del article, por defecto ocultos */
.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 200px;
  z-index: -10;
  opacity: 0;
}
.article__title {
  font-size: 1rem;
  color: #F5A25D;
}
.article__subtitle {
  font-size: 0.9rem;
  color: #f2be93;
}

.modal-dialog {
  min-width: 40%;
}

.modal__window {
  background-color: #EBEBEB;
  color: #333;
  background-image: radial-gradient(circle at 50% 106.26%, #eff4f1 0, #eef4f2 4.17%, #eef4f3 8.33%, #eef4f3 12.5%, #eef4f4 16.67%, #edf4f4 20.83%, #eef4f5 25%, #eef4f6 29.17%, #eef4f6 33.33%, #eef4f6 37.5%, #eff3f7 41.67%, #eff3f7 45.83%, #f0f3f7 50%, #f1f3f7 54.17%, #f1f3f7 58.33%, #f2f2f7 62.5%, #f3f2f7 66.67%, #f4f2f6 70.83%, #f4f2f6 75%, #f5f2f6 79.17%, #f6f2f5 83.33%, #f6f1f4 87.5%, #f7f1f4 91.67%, #f7f1f3 95.83%, #f7f1f3 100%);
  border: none;
  -webkit-box-shadow: 4px 3px 10px rgba(200, 200, 200, 0.5);
          box-shadow: 4px 3px 10px rgba(200, 200, 200, 0.5);
}

.text--bold {
  font-weight: 600;
}

.modal-title {
  color: #F5A25D;
  font-weight: 700;
}

.modal-header {
  border-bottom: 0;
  padding: 1.5em 2.5em 1em 3.1em;
}

.modal-body {
  padding-right: 2em;
}

.modal-footer {
  border-top: 0;
}

.modal__item::before {
  content: url(../../assets/icons/caret-right-fill.svg);
  margin-right: 0.5em;
}

.modal__item {
  list-style: none;
  padding-bottom: 10px;
}

/* Media Queries */
@media (max-width: 992px) {
  .courses__box,
.courses__img {
    height: 400px;
  }
  .modal-dialog {
    margin: 0 2em;
    max-width: 100%;
  }
}
@media (min-width: 993px) {
  .courses__box,
.courses__img {
    height: 350px;
  }
}