footer {
    background-color: #389393;
    color: white;
    text-align: center;
}

a {
    margin: 0 5px;
}

.contacto img {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(97%) sepia(2%) saturate(470%) hue-rotate(275deg) brightness(116%) contrast(100%);
    /* cambiar color : https://codepen.io/sosuke/pen/Pjoqqp */
}

.pags img {
    height: 2.5rem;
    width: auto;
}

.legal {
    cursor: pointer;
}

.footer-down {
    
    font-size: .7rem;
}

.footer-up {
    margin-bottom: 20px;
}

.container {
    padding: 20px 0;
}