:root {
  --grey: #ebebeb;
  --orange: #f5a25d;
  --lightOrange: #f2be93;
  --red: #fa7f72;
  --blue: #389393;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='900' preserveAspectRatio='none' viewBox='0 0 2000 900'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1145%26quot%3b)' fill='none'%3e%3crect width='2000' height='900' x='0' y='0' fill='url(%23SvgjsRadialGradient1146)'%3e%3c/rect%3e%3ccircle r='150' cx='73.97' cy='-21.34' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150' cx='606.05' cy='530.85' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150' cx='1162.51' cy='1246.81' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='117.315' cx='1708.6' cy='830.67' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='227.69' cx='1826.18' cy='258.25' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='88.28' cx='66.91' cy='649.85' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='157.88' cx='1879.88' cy='396.73' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='113.24' cx='1690.43' cy='71.29' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='193.665' cx='1229.63' cy='506.08' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3ccircle r='275.67' cx='995.96' cy='309.6' stroke='%23f2be93' stroke-opacity='0.16' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1145'%3e%3crect width='2000' height='900' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3cradialGradient cx='50%25' cy='0%25' r='1345.36' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1146'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 235%2c 235%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  /* background-attachment: fixed; */
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carrusel {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7em;
}

.line {
  margin-top: 5em;
  height: 2px;
  width: 100%;
  background-color: #777;
  filter: blur(3px);
}

.carrusel--first {
  margin-top: 5em;
}

.carrusel__items {
  position: relative;
  max-width: 1700px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 3em;
  font-size: 3rem;
  font-weight: 700;
  color: var(--red);
  text-shadow: 3px 2px 2px #333;
}

.title {
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: 3em;
  font-size: 3rem;
  font-weight: 700;
  color: var(--red);
  text-shadow: 3px 2px 2px #333;
}

.carrusel__big {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.img {
  width: 200px;
  height: 200px;
  opacity: 0.4;
  object-fit: cover;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
  transition-timing-function: ease-out;
  border-radius: 2em;
  box-shadow: 6px 6px 10px 5px rgba(150, 150, 150, 0.7);
}

.img--normal {
  width: 300px;
  height: 300px;
  opacity: 0.7;
}

.img--big {
  width: 500px;
  height: 500px;
  opacity: 1;
  z-index: 10;
}

.arrows {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: flex;
  z-index: 100;
  height: 250px;
  width: 400px;
  line-height: 250px;
  opacity: 0.05;
}

.arrow:hover {
  opacity: 0.5;
}

.arrow--right {
  justify-content: right;
}

.arrow img {
  width: 50%;
}

@media screen and (min-width: 1700px) {
  .img--big:active,
  .img--big:hover {
    width: 900px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1699px) {
  .carrusel__items {
    max-width: 1200px;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .img--normal {
    width: 200px;
    height: 200px;
    opacity: 0.7;
  }

  .img--big {
    width: 400px;
    height: 400px;
    opacity: 1;
    z-index: 10;
  }

  .img--big:active,
  .img--big:hover {
    width: 800px;
  }

  .arrow {
    height: 100px;
    width: 300px;
    line-height: 100px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .carrusel__items {
    max-width: 800px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
  .img--normal {
    width: 180px;
    height: 180px;
  }
  .img--big {
    width: 350px;
    height: 350px;
  }
  .img--big:active,
  .img--big:hover {
    width: 700px;
  }
  .arrow {
    height: 180px;
    width: 250px;
    line-height: 100px;
  }
}

@media screen and (max-width: 799px) and (min-width: 450px) {
  body {
    overflow-x: hidden;
  }
  .carrusel__items {
    max-width: 650px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
  .img--normal {
    width: 180px;
    height: 180px;
  }
  .img--big {
    width: 350px;
    height: 350px;
  }

  .arrow {
    height: 180px;
    width: 250px;
    line-height: 100px;
  }
}

.arrow img {
  width: 50%;
}

@media screen and (max-width: 449px) {
  body {
    overflow-x: hidden;
  }
  .title {
    margin-left: 0;
  }
  .carrusel__items {
    max-width: 350px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
  .img--normal {
    width: 180px;
    height: 180px;
  }
  .img--big {
    width: 350px;
    height: 350px;
  }

  .arrow {
    height: 180px;
    width: 250px;
    line-height: 100px;
  }
}

.arrow img {
  width: 50%;
}
