#main {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-flow: column;
}

#whyUs,
#information {
    background-color: #EBEBEB !important;
}

#information {
    padding: 7rem 0;
}

#mapContainer {
    height: 500px;
}

#map {
    height: 480px;
    top: 10px;
}

#info-vessel {
    position: relative;
}

#info-vessel span {
    font-weight: bolder;
    color: #fa7f72;
}

#info-vessel h1,
#info-vessel h2,
#info-vessel h3,
#info-vessel h4,
#info-vessel h5,
#info-vessel h6 {
    color: #F5A25D;
}

#contactForm input,
#contactForm textarea {
    color: #F5A25D;
    border: 2.5px solid #F5A25D;
}

#contactForm input:focus,
#contactForm textarea:focus {
    color: #F5A25D;
}

#contactTextArea {
    height: 150px;
    resize: none;
}

#info-menu {
    background-color: rgba(118, 165, 165, 0.75);
}

.info-collapse {
    min-height: 350px;
}

nav {
    flex: 0 1 auto;
}

.video-container {
    background-color: black;
    flex: 1 1 auto;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    max-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
}

.display-none {
    display: none;
}

.infoButton {
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    background-color: #F5A25D;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.infoButton:hover {
    background-color: white;
    border: 1px solid #F5A25D !important;
    color: #F5A25D !important;
}

img.dropdown-caret {
    width: 15px !important;
    height: 15px !important;
    transition: transform .7s;
}

.rotate {
    transform: rotate(180deg);
}

/*Pau*/
.carrousel-star {
    width: 32px;
    height: 32px;
}

.carrousel-image {
    width: 300px;
    height: 400px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}