nav.allnav {
    background-color: #EBEBEB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: larger;
}

nav.allnav a {
    color: #F5A25D !important;
}

h1.allnav {
    color: #F5A25D;
}

li.allnav {
    margin: 0px 7px;
}

#search-icon-allnav {
    position: relative;
    background-color: transparent;
    border: none;
    color: #F5A25D;
    top: 9px;
    left: 0px;
    z-index: 1;
    transition:all 1.7s linear;
}

#search-icon-allnav img {
    width: 30px;
    height: 30px;
    filter: invert(89%) sepia(9%) saturate(5883%) hue-rotate(315deg) brightness(98%) contrast(96%);
}

#main-search-allnav {
    position: relative;
    top: 9px;
    margin-left: 20px;
    width: 368px;
    transition: all 2s;
}

#sm-login-allnav {
    margin-right: 20px;
}

#lg-login-allnav {
    height: 42px;
}

#lg-login-allnav img {
    width: 30px;
    height: 30px;
}

.icon-allnav {
    width: 40px;
    height: 40px;
    filter: invert(89%) sepia(9%) saturate(5883%) hue-rotate(315deg) brightness(98%) contrast(96%);
    /*para cambiar el color https://codepen.io/sosuke/pen/Pjoqqp*/
}

.navbar-brand.allnav img {
    width: 50px;
    height: auto;
}

.search-allnav {
    color: #F5A25D;
    border: 1px solid #F5A25D;
}

.none-allnav {
    width: 0px !important;
    visibility: hidden;
}

.abierto-allnav {
    left: 385px !important;
} 

.navbar-toggler.allnav{
    border: none;
    flex-direction: row;
}

/* placeholder color */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F5A25D !important;
    opacity: .8 !important; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #F5A25D !important;
}
/* toggle */
#toggle-allnav {
    display: block;
    width: 38px;
    height: 40px;
  }
  
  #toggle-allnav span:after,
  #toggle-allnav span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle-allnav span:after{
    top: 9px;
  }
  #toggle-allnav span {
    position: relative;
    display: block;
    margin-top: 14px;
  }
  
  #toggle-allnav span,
  #toggle-allnav span:after,
  #toggle-allnav span:before {
    width: 100%;
    height: 5px;
    background-color: #F5A25D;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  /* on activation */
  #toggle-allnav.on span {
    background-color: transparent;
  }
  #toggle-allnav.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle-allnav.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  } 