nav.allnav {
    background-color: #EBEBEB;
    font-size: 1.6rem;
    color: #f5a25d;
    font-family: "Barlow Semi Condensed", sans-serif;
}

nav.allnav a {
    color: #F5A25D !important;
}

h1.allnav {
    color: #F5A25D;
}

li.allnav {
    margin: 0px 7px;
}

#search-icon-allnav {
    position: relative;
    background-color: transparent;
    border: none;
    color: #F5A25D;
    left: 0px;
    z-index: 1;
    transition:all 1.7s linear;
}

#search-icon-allnav img {
    width: 30px;
    height: 30px;
    filter: invert(89%) sepia(9%) saturate(5883%) hue-rotate(315deg) brightness(98%) contrast(96%);
}

#main-search-allnav {
    position: relative;
    left: -40px;
    width: 340px;
    transition: all 2s;
}

#md-search-allnav {
    width: 340px;
}

.icon-allnav {
    width: 30px;
    height: 30px;
    filter: invert(89%) sepia(9%) saturate(5883%) hue-rotate(315deg) brightness(98%) contrast(96%);
    /*para cambiar el color https://codepen.io/sosuke/pen/Pjoqqp*/
}

.navbar-brand.allnav {
    margin-right: 0px;
}

.navbar-brand.allnav img {
    width: 50px;
    height: auto;
}

.search-allnav {
    color: #F5A25D;
    border: 1px solid #F5A25D;
}

.form-control:focus {
    border-color: #F5A25D;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 12px #F5A25D;

}

.none-allnav {
    width: 0px !important;
    visibility: hidden;
}

.abierto-allnav {
    left: 300px !important;
} 

.navbar-toggler.allnav{
    border: none;
    flex-direction: row;
    padding: 0px !important;
}

.navbar-toggler.allnav:focus {
    border-color: none;
    box-shadow: none;

}

/* placeholder color */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F5A25D !important;
    opacity: .8 !important; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #F5A25D !important;
}