nav.allnav {
    background-color: #EBEBEB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: larger;
}

nav.allnav a {
    color: #fa7f72 !important;
}

#search-icon-allnav {
    position: relative;
    background-color: transparent;
    border: none;
    color: #fa7f72;
    left: 0px;
    z-index: 1;
    transition:all 1.7s linear;
}

#search-icon-allnav img {
    width: 30px;
    height: 30px;
    filter: invert(58%) sepia(10%) saturate(6609%) hue-rotate(322deg) brightness(120%) contrast(96%);
}

#main-search-allnav {
    position: relative;
    margin-left: 20px;
    width: 368px;
    transition: all 2s;
}

#md-search-allnav {
    width: 36vw;
}

#basket-items-allnav {
    font-weight: bold;
}

img.icon-allnav {
    width: 30px;
    height: 30px;
    filter: invert(58%) sepia(10%) saturate(12009%) hue-rotate(322deg) brightness(120%) contrast(96%);
}

.navbar-brand.allnav img {
    width: 50px;
    height: auto;
}

.search-allnav {
    color: #fa7f72;
    border: 1px solid #fa7f72;
}

.none-allnav {
    width: 0px !important;
    visibility: hidden;
}

.abierto-allnav {
    left: 385px !important;
}

input.form-control.search-allnav:focus {
    border-color: #fa7f72 !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 12px #fa7f72 !important;
}

/* placeholder color */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fa7f72 !important;
    opacity: .8 !important; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fa7f72 !important;
}