:root {
    --nImagenes: 5;
}

* {
    box-sizing: border-box;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carrusel {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carrusel__items {
    max-width: 1660px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.carrusel__big {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 500%;
}

.img {
    width: 200px;
    height: 200px;
    opacity: .4;
    object-fit: cover;
    transition: width 1s, height 1s, opacity 1s;
    transition-timing-function: ease-out;
}

.img--normal {
    width: 300px;
    height: 300px;
    opacity: .7;
}

.img--big {
    width: 500px;
    height: 500px;
    opacity: 1;    
}



.dots {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.dot {
    
    
    font-size: 3em;
}

.dot:hover {
    color: red;
}
