/* Gris : #EBEBEB un 60% de la página,
el fondo y lo menos important. • Naranja: #F5A25D un 10% 
para aquello que llama a la acción. • Rojo: #FA7F72 solo 
para pequeños detalles o pequeños bloques de texto • Azul: #389393 
para el footer https: //www.shutterstock.com/es/create/home para crear imagenes */


* {
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', 'Barlow Semi Condensed', sans-serif;
}

/* css pre-footer */
.pre_footer__card {
  color: #f76a5a;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: small;
  width: 30rem;
  height: 11rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pre-footer_img {
  width: 3rem;
}

.pre-footer__title {
  font-family: 'Orbitron', sans-serif;
  color: #fa8072cc;
}

.pre_footer__card-link {
  color: #FA7F72;
  text-decoration: none;
}

.pre_footer__card-link:hover {
  color: #389393;
}

/* css footer */

/* css página tramitarPedido */
.body__tramitar_pedido {
  background-color: #EBEBEB;
}

.banner_tramitar_pedido {
  background: linear-gradient(#FA7F72, #EBEBEB);
}

.banner__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #389393;
}

.form-control:valid {
  border: 3px solid #276969;
}

.form-control:required:invalid {
  border: 3px solid #FA7F72;
}

.form__enviar {
  width: 100%;
  border: none;
  background-color: #389393;
  color: #EBEBEB;
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.direccion__body {
  padding: 2em;
  color: #444;
  display: flex;
  flex-direction: column;
  line-height: 0.2;

}

.tipo__entrega1 {
  background-color: #389393;
  color: #EBEBEB;
  border-radius: 15px;
}

.form-check_input {
  padding: 10px;
}

.contacto__direccion-title,
.pedido_subtotal,
.pedido_gastos-envio,
.pedido_total {
  display: flex;
  justify-content: space-between;
}

.pedido_total label {
  font-size: larger;
  font-weight: 800;
  color: #FA7F72;
}

.contacto__direccion-title__text {
  color: #389393;
}

.contacto__envio-pago__img {
  width: 100px;
  height: 50px;
}

.contacto__direccion-icon {
  width: 50px;
  height: 50px;
}

.tramitar__pedido-btn {
  border: none;
  width: 100%;
  background-color: #389393;
  color: #EBEBEB;
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
  font-size: 1.5em;
}

.img_tramitar__pedido_icon {
  width: 25px;
  height: 25px;
}

.raya_tramitar-pedido {
  width: 100%;
  height: 2px;
  background-color: #FA7F72;
}

.contenedor__datos {
  margin-top: 50px;
}

.contenedor__resumen {
  border: 1px solid #f76a5a;
  border-radius: 15px;
  height: 50%;
  margin-top: 50px;
  padding: 1.5em;
}

.datos__contacto-envío,
.metodo__envio,
.metodo__pago {
  border: 1px solid #FA7F72;
  border-radius: 1em;
}

.metodo__pago {
  margin-bottom: 2em;
}

.metodo__pago_link {
  color: #389393;
  text-decoration: none;
}

.metodo__pago_link:hover {
  color: #F5A25D;
}

.pedido_total-pie {

  text-align: right;
}

.pedido_total-pie,
.tramitar__pedido-text {
  color: grey;
}

.tramitar__pedido_compraSegura {
  margin-top: 0.5em;
}