@import "__variable_mixins.scss";

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: map-get($colors, grey);
  color: aliceblue;
}

.row {
  justify-content: space-evenly;
}

/* Establece el margen superior del contenedor con todos los cursos */
.courses__container {
  margin-top: 3em;
}

/* CONTENEDORES */
/* Estilos contendores desactivados */
.courses {
  &__box {
    position: relative;
    @include centerFlex;
    margin-bottom: 1em;
    max-width: 90%;
    padding: 0.8em;
    @media (max-width: 992px) {
      height: 400px;
    }

    @media (min-width: 993px) {
      height: 350px;
    }
  }

  &__img {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: -10;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #9d9d9d, -5px -5px 10px #fbfbfb;
    opacity: 0.9;
    @media (max-width: 992px) {
      height: 400px;
    }

    @media (min-width: 993px) {
      height: 350px;
    }

    .courses__box:hover &,
    .courses__box:active & {
      transition: all 1s linear;
      filter: blur(3px) contrast(20%);
    }
  }

  &__title {
    font-size: map-get($fontSize, title);
    color: inherit;
    text-shadow: 3px 2px 2px #333;

    /* Estilos de los títulos activos */
    .courses__box:hover &,
    .courses__box:active & {
      position: absolute;
      transition: all 1s ease-in-out;
      transform: translateY(-130px);
      color: map-get($colors, red);
    }
  }

  &__text {
    font-size: map-get($fontSize, text);
  }

  &__buttons {
    @include centerFlex;
    gap: 1rem;
  }

  &__btn {
    @include btn;

    &:hover,
    &:active {
      background-color: map-get($colors, red);
    }
  }
}

/* Estilos del article, por defecto ocultos */
.article {
  @include centerFlex(column);
  position: absolute;
  height: 200px;
  z-index: -10;
  opacity: 0;

  &__title {
    font-size: 1rem;
    color: map-get($colors, orange);
  }

  &__subtitle {
    font-size: 0.9rem;
    color: map-get($colors, lightOrange);
  }

  .courses__box:hover &,
  .courses__box:active & {
    margin-top: 1.5em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition-property: opacity, z-index;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    z-index: 1;
  }
}

.modal {
  &-dialog {
    max-width: 60%;
  }
  &__window {
    color: #333;
    background: #f7f1f3;
    box-shadow: inset 5px 5px 10px #bebabb, inset -5px -5px 10px #ffffff;
    border: none;
  }

  &-title {
    color: map-get($colors, orange);
    font-weight: 700;
  }

  &-header {
    border-bottom: 0;
    padding: 1.5em 2.5em 0 3.1em;
  }

  &-body {
    padding-right: 2em;
  }

  &-footer {
    border-top: 0;
  }

  &__item::before {
    content: url(../../assets/icons/caret-right-fill.svg);
  }

  &__item {
    list-style: none;
    padding-bottom: 10px;
  }
}

.text--bold {
  font-weight: 600;
}

/* Media Queries */
