*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
.raya{
    height: 2px;
    width:75%;
    size:"10";
    background-color: #389393;
    margin: 50px auto;
} 
.lista__col{
    font-size: 2em;
    color: #FA7F72;
}
.title_lista{
    color: #F5A25D;
    font-size: 1.5em;
}
.lista__preguntas{
    list-style: none;
    font-size: 1.5em;
}
.lista__preguntas-link{
    text-decoration: none;
    color: #389393;
}
.lista__preguntas-link:hover{
    color: #FA7F72;
}

.title{
    color: #FA7F72;
}
.btn{
    width: 100px;  
}
.div_hidden{
    display: none;

}
.tlf_defectuoso{
    color: #F5A25D;
}



